@media screen and (max-width: 768px){
    .home_img img{
        width: 0%;
    }
    .carrinho p{
        font-size: 0.8rem;
        line-height: 2rem;
    }
    .carrinho h2{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .categoria{
        display: none;
    }
    .produto h3{
        font-size: 0.8rem;
    }
    .produto .preco{
        font-size: 0.8rem;
    }
    .produto .subpreco{
        font-size: 0.5rem;
    }
    .produto .botoes{
        height: 25px;
    }
    .botao .botao_text{
        font-size: 0.9rem;
        top:-5px;
        position: relative;
    }

}